* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
}


.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

.container1 {
	margin: 20px;
}

header {
	background-color: #333;
	color: #fff;
	padding: 11px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 999;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

nav li {
	margin-left: 20px;
}


nav a {
  color: #fff;
  text-decoration: none;
  background-color: rgb(0, 240, 240);
  font-size: 16px;
  border-radius: 50px;
  display: inline;
  padding: 10px;

}

nav a:hover {
	transition: 0.5s;
    font-size: 16px;
    border-radius: 50px;
    display: inline;
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 204, 204);
}

.hero {
	background-size: cover;
	background-position: center;
	height: 2800px;
	display: flex;
	align-items: center;
	justify-content: center;
   
}

.hero h2 {
	font-size: 40px;
	text-align: center;
}

Img{
    position: relative;
    left: 570px;
    width: 25%;
    height: 250px;
	border-radius: 10px;

}

.img1{
    width: 25%;
    height: 200px;
    position: relative;
    left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
	border-radius: 10px;
}
 .img2{
    width: 25%;
    height: 200px;
    position: relative;
    left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
 }

.img3{
    width: 25%;
    height: 200px;
    position: relative;
    left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
	border-radius: 10px;
}

.img4{
    width: 25%;
    height: 200px;
    position: relative;
    left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
	border-radius: 10px;
}

.img5{
    width: 25%;
    height: 200px;
    position: relative;
    left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
	border-radius: 10px;
}

p{
    font: bold;
	font-size: 16px;
}

.sobre {
	background-color: #f5f5f5;
	padding: 80px 0;
	text-align: center;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #333;
	color: #fff;
	padding: 20px;
	z-index: 999;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
	background-color: #f8f8f8;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 40px;
}